a {
    color: rgb(48, 48, 48);
    text-decoration: none;
}
a:hover{
    color:grey;
}

#logo {
    width: 200px;
    top: 15px;
    position: relative;
    float: left;
}

#header_link_events, #header_link_contact, #header_link_panel {
    font-size: 30px;
    width: 250px;
    height: 50px;
    position: relative;
    top: 15px;
    float: left;
}

#header_link_events {
    left: 750px;
}

#header_link_contact {
    left: 770px;
}

#header_link_panel {
    left: 780px;
}
