tr.table_header {
    font-weight: bold;
}

td {
    padding: 10px
}

a{
    color:navy
}

.eventBox {
    background-color: #eeeeee;
    padding: 16px;
    border: 1px solid #dddddd;
    margin: 5px;
}
