<div class="container">
  <div class="content">
    <div class="lefMenu"><app-nav></app-nav></div>
    <div class="content">
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

  <app-date-table></app-date-table>

<!--

<form class="form" id="contactForm" method="post" novalidate action="/send-scripts.php">
  <div class="form-row">
    <label for="field-name">Name*</label>
    <input type="text" name="name" required id="field-name" data-error="Wypełnij to pole" pattern="[a-zA-ZąĄććęęłŁńŃóÓśŚżŻŹŹ ]+">
  </div>
  <div class="form-row">
    <label for="field-email">Email*</label>
    <input type="email" name="email" required id="field-email" data-error="Wpisz poprawny email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
  </div>
  <div class="form-row">
    <label for="field-message">Message*</label>
    <textarea name="message" required data-error="Musisz wypełnić pole" id="field-message" pattern=".+"></textarea>
  </div>
  <div class="form-row">
    <label class="checkbox-cnt">
      <input type="checkbox" data-error="Musisz wypełnić pole" name="regulation">
      <i class="state" aria-hidden="true"></i>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In libero arcu, vulputate sit amet mattis sit amet, ultrices in erat. Aenean suscipit arcu ac lorem lacinia ut scelerisque turpis commodo.</span>
    </label>
  </div>
  <div class="form-row">
    <button type="submit" class="submit-btn">
      Wyślij
    </button>
  </div>
</form>
-->
