th {
    background-color: cadetblue;
    color: white;
}

#listingTable, td {
    font-size: 20px;
    width: 100%;
    table-layout: fixed;
}

#column1{
    width: 50px
}
#column2{
    width: 350px;
}
#column3{
    text-align: center;
    width: 350px;
}
