    <label class="tableHeading">Nazwa wydarzenia: 
    <input type="text" [(ngModel)]="event.name" id="name"></label>
    <br>
    <br>
    <label class="tableHeading">Krótki opis:
    <textarea rows="6" cols="20" [(ngModel)]="event.preview"></textarea></label>
    <br>
    <br>
    <label class="tableHeading">Pełny opis:
    <textarea rows="10" cols="20" [(ngModel)]="event.description"></textarea></label>
    <br>
    <br>
    <label >Adres: 
    <input type="text" [(ngModel)]="event.address"></label>
    <br>
    <br>
    <label >Miasto:
    <input type="text" [(ngModel)]="event.city"></label>
    <br>
    <br>
    <label >Cena:
    <input type="text" [(ngModel)]="event.price"></label>
    <br>
    <br>
    <label >Typ wydarzenia:
    <select [(ngModel)]="event.typeOfEvent" required>
        <option *ngFor="let typeOfEvent of typeOfEvents" [value]="typeOfEvent" [selected]="typeOfEvent == event.typeOfEvent">{{typeOfEvent}}</option>
    </select></label>
    <br>
    <br>
    <button (click)="submit()" style="width: 150px">Wyślij formularz</button>
    <br>
    <br>